:root {
  --main-color: #142e4c;
  --main-color-dark: #000c1b;
  --sec-color: #d28a55;
  --font: 'Prata', Georgia, "Times New Roman", serif;
  --font2: 'Poppins', sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fixOverflow {
  overflow: hidden;
}

.AppWidth {
  max-width: 1500px;
  margin: auto;
}

.sectionHeight {
  height: fit-content;
  padding-top: 70px;
}

.sectionRelative {
  position: relative;
}

.animate {
  animation: 1s ease-out 0s fadeIn;
}

/* #region scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  background: #9d9d9d;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}
/* #endregion */

/* #region modal */
.centerIconModal {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.iconModal {
  font-size: 2em !important;
  color: gray;
}

.iconModal:hover {
  cursor: pointer;
}

.imgModal {
  max-width: 100%;
}

.modalConfCard {
  background-color: var(--main-color);
  border: 4px solid var(--sec-color);
  padding: 20px;
}

.modalInputWidth {
  width: 20%;
  margin-right: 20px;
}

.modalFixBottom {
  position: relative;
  bottom: 0px;
  z-index: 1030;
  display: block;
}

.modalFixBottom button {
  margin-left: 10px;
  margin-right: 10px;
}

.modalRight {
  float: right;
}

.thanksForConfirmingModal {
  background-color: white;
  padding: 20px;
  min-width: 300px;
}

.thanksForConfirmingCheckmark {
  text-align: center;
  font-size: xxx-large;
  color: green;
}

.modalCenter {
  text-align: center;
}

.modalFont {
  font-family: var(--font);
}

@media (max-width: 858px) {
  .closeIconModal {
    text-align: right;
  }

  .nextIconModal {
    position: absolute;
    width: auto;
    left: 90%;
    top: 55%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .prevIconModal {
    position: absolute;
    width: auto;
    left: 4%;
    top: 55%;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 2000;
  }
}
/* #endregion */

/* #region Menu*/
.Menu {
  background-color: var(--main-color);
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1999;
  border-top: solid 4px var(--sec-color);
  border-bottom: solid 4px var(--sec-color);
}

.menuButtons {
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.menu-button {
  border: none;
  background-color: inherit;
  margin-right: 10px;
  color: white;
}

.menu-button:hover {
  color: var(--sec-color);
  transition: .5s;
}

.checkbtn {
  display: none;
  float: right;
}

#menuCheck {
  opacity: 0;
  position: absolute;
  right: 29px;
  top: 23px;
  transform: scale(2, 2);
}

.logo {
  height: 50px;
  width: 155px;
}

.logo:hover {
  cursor: pointer;
}

@media (max-width: 858px) {
  .Menu {
    padding-right: 23px;
  }

  .menuButtons {
    display: block;
    height: auto;
    min-width: 250px;
    background: var(--main-color);
    position: fixed;
    right: -100%;
    top: 70px;
    transition: all .5s;
  }
  
  .menu-button {
    display: block;
    margin: 40px auto;
    line-height: 30px;
    color: white;
  }
  
  .menu-button:hover {
    background: none;
    color: var(--sec-color);
    text-decoration: underline;
  }

  .checkbtn {
    display: block;
    font-size: 30px;
    margin-top: 5px;
    color: white;
  }

  #menuCheck:checked ~ .menuButtons {
    right: 0px;
  }
}
/* #endregion */

/* #region Section 1: nos casamos */
.section1Background {
  background-position: center;
  background-size: cover;
  display: inline-block;

  width: 100%;
  height: 100%;
}

.img1 {
  background-image: url(../../images/liliaBeto1.JPG);
}

.img2 {
  background-image: url(../../images/countdown.JPG);
}

.img3 {
  background-image: url(../../images/gallery/gallery-1.JPEG);
}

.img4 {
  background-image: url(../../images/gallery/gallery-2.JPEG);
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.absoluteText {
  font-family: var(--font);
  color: white;

  position: absolute;
  z-index: 1990;
}

.text1 {
  font-weight: 900;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px black;
  color: var(--sec-color);

  top: 70%;
  left: 50%;
  translate: -50% -50%;
}

.subtext1 {
  font-size: 2em;
  text-align: center;

  top: 80%;
  left: 50%;
  translate: -50% -50%;
}

@media (max-width: 858px) {
  .text1 {
    font-size: 2em;
  }

  .subtext1 {
    font-size: 1em;
  }
}
/* #endregion */

/* #region Section 2: nuestra historia */
.backgroundColor2 {
  background-color: #f7f7f7;
}

.title2 {
  text-align: center;
  color: var(--sec-color);
  font-family: var(--font);
  font-size: 2em;
  line-height: 1.6em;
}

.background2 {
  background-image: url(../../images/texture-bg.JPG);
}

.row2 {
  height: 80%;
}

.imageBorder2 {
  display: flex;
  margin: 5% 0% 10% 0%;
  box-shadow: 0px 15px 60px 0px rgb(29 61 71 / 20%);
}

.innerImage {
  max-width: 100%;
  border: 4px solid var(--sec-color);
}

.text2 {
  padding: 10% 5% 10% 5%;
  font-size: 16px;
  line-height: 2;
  text-align: center;
}

@media (max-width: 858px) {
  .title2 {
    font-size: 1.4em;
  }
  
  .row2 {
    height: 30%;
  }

  .imageBorder2 {
    margin: 5% 0% 5% 0%;
  }
  
  .text2 {
    padding: 0% 5% 0% 5%;
    font-size: 14px;
  }
}
/* #endregion */

/* #region Section 3: Countdown */
.background3 {
  background-image: url(../../images/countdown.JPG);
  background-position: center;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.text3 {
  font-weight: 900;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px black;
  color: var(--sec-color);

  top: 10%;
  left: 50%;
  translate: -50% -50%;
}

.subtext3 {
  font-size: 2em;
  text-align: center;
  color: var(--main-color);

  top: 20%;
  left: 50%;
  translate: -50% -50%;
}

.countdown3 {
  top: 40%;
  left: 50%;
  translate: -50% -50%;
}

.counterList {
  display: flex;
  justify-content: center;
  list-style: none;
}

.counterListItem {
  width: 160px;
  margin: 0 20px;
  padding: 38px 10px;
  text-align: center;
}

.counterListItem span {
  font-size: 35px;
  color: var(--sec-color)
}

.counterListItem p {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--sec-color)
}

.counterListItemBg1 {
  background: rgba(21,47,76,0.6) !important;
}

.counterListItemBg2 {
  background: rgba(123,32,58,0.6) !important;
}

@media (max-width: 858px) {
  .text3 {
    font-weight: 400;
    font-size: 2em;
    text-wrap: nowrap;
  
    top: 5%;
    left: 50%;
    translate: -50% -50%;
  }
  
  .subtext3 {
    font-size: 1.5em;
    text-wrap: nowrap;
  
    top: 10%;
    left: 50%;
    translate: -50% -50%;
  }
  
  .countdown3 {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .counterList {
    display: block;
    padding: unset;
    padding-top: 40%;
  }

  .counterListItem {
    margin: 10px 20px;
    padding: 20px 10px;
  }
}
/* #endregion */

/* #region Section 4: Agenda */
.text4 {
  color: var(--sec-color);
  font-weight: 500;
  font-size: 1.5em;
  font-family: var(--font);
}

.subtext4 {
  line-height: 2em;
}

.bold4 {
  font-weight: 500;
}

.link4 {
  font-weight: 500;
  color: var(--sec-color);
  font-style: italic;
}

.centerIcon4 {
  text-align: center;
}

.icon4 {
  font-size: 4em !important;
  color: var(--sec-color);
}

@media (max-width: 858px) {
  .text4 {
    font-size: 1em;
    text-align: center;
    margin-top: 20px;
  }

  .subtext4 {
    text-align: center;
    margin-bottom: 30px;
  }
}
/* #endregion */

/* #region Home Agregar a Calendario */
.buttonCalendar {
  background-color: var(--sec-color);
  color: white;
  padding: 5%;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.buttonCalendar:hover {
  background-color: var(--main-color);
  color: white;
}

.buttonTextCalendar {
  text-align: center;
  color: #a4a4a4;
  padding-top: 5%;
}
/* #endregion */

/* #region codigo de vestimenta */
.titleVestimenta {
  text-align: center;
  color: var(--sec-color);
  font-family: var(--font);
  font-size: 2em;
  line-height: 1.6em;
}

.subtitleVestimenta {
  text-align: center;
  color: var(--main-color);
  font-family: var(--font);
  letter-spacing: 3px;
  font-size: x-large;
}

.imageSectionVestimenta {
  background-color: white;
}

.imageVestimenta {
  max-width: 100%;
}

.textVestimenta {
  text-align: center;
  color: var(--sec-color);
  font-family: var(--font);
  font-size: 1.3em;
  line-height: 1.6em;
  margin-bottom: auto;
}

.text2Vestimenta {
  text-align: center;
  color: gray;
  font-family: var(--font);
  font-size: 1.1em;
  line-height: 1.6em;
  margin-bottom: auto;
  padding-bottom: 20px;
}
/* #endregion */

/* #region fotos */
.backgroundColor3 {
  background-color: var(--main-color);
}

.titleFotos {
  text-align: center;
  color: var(--sec-color);
  font-family: var(--font);
  font-size: 2em;
  line-height: 1.6em;
}

.centerIconFotos {
  text-align: center;
}

.iconFotos {
  font-size: 4em !important;
  color: var(--sec-color);
}

.rowMargin {
  margin-bottom: 15px;
}

.imageFotos {
  max-width: 100%;
}

.imageFotos:hover {
  cursor: pointer;
  box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 858px) {
  .imageFotos {
    margin-bottom: 20px;
  }
}
/* #endregion */

/* #region MesaDeRegalos */
.backgroundColor4 {
  background-color: var(--sec-color);
}

.titleMesa {
  text-align: center;
  color: white;
  font-family: var(--font);
  font-size: 2em;
  line-height: 1.6em;
}

.centerIconMesa {
  text-align: center;
}

.iconMesa {
  font-size: 4em !important;
  color: white;
}

.imageMesa {
  max-width: 70%;
  display: block;
  margin: auto;
}

.linkMesa {
  color: white;
  text-align: center;
  font-size: x-large;
  font-family: var(--font);
}

.linkMesa:hover {
  color: white;
}
/* #endregion */

/* #region confirmation */
.confCard {
  background-color: var(--main-color);
  height: 500px;
  border: 4px solid var(--sec-color);
  padding: 20px;
}

.confTitle {
  color: var(--sec-color);
  text-align: center;
  font-family: var(--font);
  font-size: 2em;
  line-height: 1.6em;
}

.confSubtitle {
  color: white;
}

.confInput {
  background: var(--main-color-dark);
  opacity: 0.4;
}

.confInput, select, textarea{
  color: white;
}

.confButton {
  background-color: var(--sec-color);
  color: white;
  border: 2px solid var(--sec-color);
}

.confButton:hover {
  background-color: var(--main-color);
  color: white;
}

@media (max-width: 858px) {
  .confCard {
    margin: 20px;
  }
}
/* #endregion */

/* #region footer */
.footerText {
  color: var(--sec-color);
  text-align: center;
  margin: 40px 0px;
  font-family: var(--font);
  font-size: x-large;
}

.footerText2 {
  color: var(--sec-color);
  margin: 0px 20px 30px 20px;
  font-family: var(--font);
  font-size: large;
}

.footerExtraText {
  color: white;
  margin: 0px 20px 30px 20px;
  font-size: medium;
}
/* #endregion */

/* #region por que la ciudad */
.whycitytext {
  color: var(--sec-color);
  text-align: center;
  /* margin: 40px 0px; */
  font-family: var(--font);
  font-size: x-large;
}

.whycitytext2 {
  color: white;
  text-align: center;
  font-family: var(--font2);
  font-size: medium;
}

.centerIconwhycity {
  text-align: center;
}

.iconwhycity {
  font-size: 4em !important;
  color: var(--sec-color);
}
/* #endregion */

/* #region hotel */
.imageHotel {
  max-width: 100%;
}

.hotelText {
  text-align: center;
  font-family: var(--font2);
  font-size: medium;
}

.hotelBold {
  font-weight: 600;
}

.buttonHotel {
  background-color: var(--sec-color);
  color: white;
  padding: 15px 20px;
  text-transform: uppercase;
  text-align: center;
}

.buttonHotel:hover {
  background-color: var(--main-color);
  color: white;
}
/* #endregion */

/* #region tourism */
.imageTourismContainer {
  overflow: hidden;
  height: 300px;
}

.imageTourism {
  object-fit: cover;
  width: 100%;
  height: 300px;
  object-position: center 70%;
}

.textTourism {
  color: var(--sec-color);
  font-family: var(--font);
  font-size: larger;
  text-align: end;
}

@media (max-width: 858px) {
  .textTourism {
    text-align: center;
  }

  .linkTourism {
    display: table;
    margin: auto;
  }
}
/* #endregion */

/* #region Directory */
.iconDirectory {
  font-size: 1em !important;
}

.centerIconDirectory {
  text-align: center;
}

.centerIconDirectory:hover {
  cursor: pointer;
}

.directoryText {
  color: var(--sec-color);
  text-align: center;
  font-family: var(--font);
  font-size: x-large;
}

.directoryText:hover {
  cursor: pointer;
}

.directoryTableRow {
  margin: 10px 10px;
  font-family: var(--font2);
}

.directoryTableRow2 {
  margin-bottom: 10px;
}

.directoryTableHead {
  text-align: end;
  color: var(--sec-color);
  font-weight: 600;
}

.directoryBold {
  font-weight: 600;
}

@media (max-width: 858px) {
  .directoryTableHead {
    text-align: center;
  }
}
/* #endregion */

/* #region Instagram */
.instagramText {
  text-align: center;
  color: white;
  font-size: x-large;
  font-family: var(--font);
}

.instagramHashtag {
  text-align: center;
  color: var(--sec-color);
  font-size: xx-large;
  font-family: var(--font);
}

.buttonInstagram {
  background-color: var(--sec-color);
  color: white;
  text-align: center;
  display: block;
  max-width: fit-content;
  margin: auto;
  padding: 12px;
}

.buttonInstagram:hover {
  color: white;
}

.iconInstagram {
  font-size: 2em !important;
  vertical-align: middle;
}
/* #endregion */